{{!-- Navbar --}}
<div class="nav-bar">
<button type="button" class="btn btn-primary homeButton">Home</button>
<button type="button" class="btn btn-primary savedArticles">Saved Articles</button>
<button type="button" class="btn btn-danger scrapeArticlesButton">Scrape New Articles</button>
<button type="button" class="btn btn-danger clearArticlesButton">Clear Articles</button>
</div>
{{!-- Jumbotron --}}


{{!-- //Article Title Link --}}
{{#each articles}}
<div class="card">
    <div class="card-header">
        <a class="titleLink" href={{link}} target="_blank">{{headline}}</a>
    </div>
</div>

{{!-- //Summary and Save Button --}}

<div class="card-body">
    <div class="row">
        <div class="col-8">
            <p>{{summary}}</p>
        </div>
        <div class="col-4 buttonColumn">
            <button type="button"   class="btn btn-primary saveArticleButton" data-id={{_id}}>Save Article</button>
        </div>
    </div>
</div>

{{/each}}